@import 'settings';
@import 'foundation-emails';




.purple-gradient{
  background: #58517c;
  background: -moz-linear-gradient(left,  #58517c 0%, #212a49 100%);
  background: -webkit-linear-gradient(left,  #58517c 0%,#212a49 100%);
  background: linear-gradient(to right,  #58517c 0%,#212a49 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58517c', endColorstr='#212a49',GradientType=1 );
}